<nav id="nav">
    <div class="logo">
        <a routerLink="/home"><img src="assets/images/Logo.png" alt=""></a>
    </div>
    <div class="menu">
        <a routerLink="/home" routerLinkActive="active">Inicio</a>
        <a routerLink="/categoria/1" routerLinkActive="active">Descanso</a>
        <a routerLink="/categoria/2" routerLinkActive="active">Sala</a>
        <a routerLink="/categoria/3" routerLinkActive="active">Comedor</a>
        <a routerLink="/categoria/4" routerLinkActive="active">Trabajo y Decoracion</a>
    </div>
</nav>